.container-fluid{
	padding: 0 !important;
}
		/*Menu*/
.menu{
	background-color: #07336E;
}
li a, div.navbar-header a{
	color: #bd538d;
}
.icon-bar{
	border: 1px solid silver;
}
		/*Section comunicacion*/
.fondo{
	background-image: url("../img/header.jpg");
	background-size: 100% 100%;
}