.container-fluid{
	padding: 0 !important;
}
nav, h2{
	margin: 0 !important;
}
		/*Menu*/
.menu{
	background-color: #07336E;
}
li a, div.navbar-header a{
	color: #bd538d;
}
.icon-bar{
	border: 1px solid silver;
}
		/*Texto*/
.text-white{
	color: white;
}
.text-blue{
	color: #07336E; 
}
		/*Margenes*/
.pd{
	padding: 5% 4%;
}
.pd2{
	padding: 1% 5%;
}
.pd-gral{
	padding: 3%;
}
.pd-chico{
	padding: 2%;
}
		/*Section comunicacion*/
.fondo{
	background-image: url("../img/header.jpg");
	background-size: 100% 100%;
}
.img{
	padding: 3%;
	width: 100%;
	height: 100%;
}
hr{
	width: 90%;

}
		/*section problemas*/
.fondo2{
	background-color: #bd538d;
	padding: 3%;
}
.img_altura{
	height: 250px;
}
		/*section mejoramos*/
.fondo_row{
	background-color: #CFE2F3;
}
.img_result{
	height: 340px;
	width: 100%;
}
.img_radius{
	border-radius: 50px;
}
		/*footer*/
.integrantes{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
		/*animaciones*/
img.integrantes:hover{
	opacity: 0.4;
}